@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./Montserrat-Bold.woff2') format('woff2'),
        url('./Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-LightItalic.woff2') format('woff2'),
        url('./Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Regular.woff2') format('woff2'),
        url('./Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// .bold {
//     font-weight: bold;
// }

// .light_italic {
//     font-weight: 300;
//     font-style: italic;
// }

// .regular {
//     font-family: 'Montserrat';
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }